src/main/resources/frete.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 targetNamespace="http://example.com/frete" elementFormDefault="qualified">
  <xs:element name="cotacaoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pedidoId" type="xs:long"/>
        <xs:element name="cepDestino" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cotacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="valorFrete" type="xs:decimal"/>
        <xs:element name="prazoDias" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
